.chat-input {
    width: 70%;
}
.chat-container{
    background-color:whitesmoke;
    height: 73vh;
    margin-top: 19vh;
    overflow-y: auto;
}

.chat-section {
    padding-right: 6vw;
    padding-left: 6vw;
}

.chat-input-bar {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    bottom: 0vh;
    width: 80vw;
    gap: inherit;
    background-color: rgb(255, 250, 240,1);
  }
.input-chat{
    width: 80vw;
}
.selected-item {
    background-color: #9b0303; 
    color: #fff;
  }
.chat-content {
    width: fit-content;
}
.my-message {
    background-color: #4CAF50;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 15%;
    float: right;
    display: block;
    margin: 1vh;
    align-self: flex-end;
  }
  

.their-message {
    background-color: #ddd;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 15%;
    align-self: flex-start;
    margin: 1vh;
}
.user-title {
    position: fixed;
    margin-top: 10vh;
    background-color: #9b0303;
    color: white;
    padding: 3vh;
    text-align: left;
    width: 80vw;
  }
  
.chat-messages {
    display: flex;    
    flex-direction: column;
}
.time-stamp {
    float: right;
}
.para-color {   
    color: black;
}

.no-user-selected-message {
    margin-top: 25vh;
    size: 20px;
    float: center;
}

.fixed-chat-input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    background-color: #fff; /* Set the background color as needed */
    padding: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.comments-icon {
    font-size: 4em
}
.chat-msg {
    margin-top: 2vh;
}