/* FriendRequests.css or your custom CSS file */
.container {
    display: flex;
    /* Add any other container styles you need */
}

.content {
    margin-left: 250px; /* Adjust this margin to match the sidebar width */
    /* Add any other content styles you need */
    overflow: auto;
}

.heading {
    position: fixed;
}
