
  .link-btn {
    background: none;
    color: black;
    text-decoration: underline;
  }

  .google-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
  }

  .login-btn {
    text-align: center;
    color: white;
    border: none;
    background: #9b0303;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .link {
    text-align: center;
    color: black;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .auth-container-login {
    background-image: url('./Images/luddy.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 50vw;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 1vw;
  box-shadow: 4px 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color:rgba(246, 187, 187, 0.2);
}