.navbar {
  display: flex;
  background-color: #9b0303;
  color: white;
  position: fixed;
  width: 100%;
  gap: 2vw;
  z-index: 2;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9b0303;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; 
}

.pages {
  display: flex;
  color: #fff;
  position: relative;
  align-items: center;
  margin-left: -14vh;
  gap: 75px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.logo img {
  width: 15vh;
  height: 10vh;
  margin-right: 0px;
}

.login {
  color: white;
  margin-top: 20px;
  position: relative;
  align-items: center;
  font-size: 16px;
  opacity: 50%;
  float:right;
  margin-top: 1.66vw;
  margin-left:4vw ;
}
.login:hover {
  opacity: 100%;
  cursor: pointer;
}

.login a {
  text-decoration: none;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin-right: 2vw;
}

p {
  color: white;
  font-size: 16px;
}

.nav-btn {
  font-size: 16px;
  text-align: center;
  border: none;
  color: white;
  background: none;
  display: flex;
  opacity: 50%;
}

.nav-btn:hover {
  background: none;
  opacity: 100%;
  cursor: pointer;
}

.search-container {
  width: 20vw;
  margin-right: 10vw;
  padding-top: 0.5vw;


}
.search-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #000000;
  width: 20vw;
  z-index: 1;
}

.search-dropdown h5{
  color: #000000;
}


.search-dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  color: #000000;
}

.search-dropdown-item:hover {
  background-color: #f1f1f1;
}

  .search-icon {
    position: relative;
    left: 1vw;
    cursor: pointer;
    
  }