.navbar {
  display: flex;
  background-color: #9b0303;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9b0303;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; 
}

.pages {
  display: flex;
  color: #fff;
  position: relative;
  align-items: center;
  margin-left: 9vw;
  margin-right: auto;
  opacity: 70%;
  gap: 5vw;
}

.logo {
  width: 15vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 0px;
  padding-right: 0px;
  width: 15vh;
  height: 10vh;
}

.login {
  display: flex;
  gap: 2vw;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  align-items: center;
  font-size: 16px;
  opacity: 70%;
  float: right;
  margin-right: 2vw;
  padding-left: 15%;
}

.login a {
  text-decoration: none;
  align-items: center;
  font-size: 16px;
  color: #fff;
  margin-right: 2vw;
}

p {
  color: white;
  font-size: 16px;
}

.nav-btn {
  font-size: 16px;
  text-align: center;
  border: none;
  color: white;
  background: none;
  display: flex;
  opacity: 50%;
}

.nav-btn:hover {
  background: none;
  opacity: 100%;
  cursor: pointer;
}

.search-container {
  margin-left: -8vw;
  padding-top: 0.5vh;
  width: 14vw;
}

.search-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #000000;
  width: 20vw;
  z-index: 1;
}

.search-dropdown h5 {
  color: #000000;
}

.search-dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  color: #000000;
}

.search-dropdown-item:hover {
  background-color: #f1f1f1;
}

  .search-icon {
    position: sticky;
    left: 100vw;  
    cursor: pointer;
  }

  .search-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #000000;
    width: 20vw;
    z-index: 1;
}

.search-dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    color: #000000;
}

.search-dropdown-item:hover {
    background-color: #f1f1f1;
}