/* profile.css */

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f7f7f7;
    position: fixed;
}

.main-content {
    margin-top: 500px;
    margin-left: 300px;
    padding: 20px;
    /* width: calc(100% - 300px); */
    z-index: -1;
}

.profile-section {
    position: fixed;
    top: 100px;
    left: 300px;
    width: calc(100% - 500px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-header {
    margin: 20px ;
}

.post-container {
    margin-top: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.01);
}

.post {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
}

.post-image {
    margin-top: 100px;
    width: 100%;
    height: auto;
}
