/* searchResults.css */

.base-container {
    padding-top: 10vh;
}
.tab-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #9b0303;
    padding: 1vw;
    margin-top: 20vh;
    margin: 10vw;
}

.tabs-search {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.tabs-search button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    margin-right: 10px;
}

.tabs button:last-child {
    margin-right: 0;
}

.tabs button:hover,
.tabs button:active {
    background-color: #ddd;
}

.user-results,
.post-results,
.recent-searches {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
}

.user-results div {
    text-align: left;
}
.post-results div {
    margin-bottom: 15px;
}

.user-results div:last-child,
.post-results div:last-child {
    margin-bottom: 0;
}

.search-icon-1 {
    position: relative;
    left: 1vw;
    cursor: pointer;
    color: #000;
    
  }
  .post-image {
    padding-top: 1vw;
    width: 500px;
    height: auto;
    float: left;
  }
  .h-searchr{
    text-align: left;
    width: 100%; 
    color: #000;
  }

  .search-caption {
    color:#000;
    float:left;
  }
  .search-post-header {
    vertical-align: top;
    display: flex;
    flex-direction: row;
  }
  .search-profile-picture {
    width: 50px;
    height: 50px;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    border-radius: 40%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .search-user-container{
    display: flex;
    flex-direction: row;
  }
  .user-search-item{
    cursor: pointer;
  }
 .heading-searchr {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  position: fixed;
  z-index: 10;
  /* margin-top: 20vh; */
  box-shadow: 5px 5px 10px rgba(0.3, 0.3, 0.3, 0.3);
  /* padding: 10vw; */
 }